
/*simsim*/
body {
    margin: 0;
    padding: 0;
    background-color: khaki;
    font-family: NanumBarunpen;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.sticky-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: NanumBarunpen;
}

.sticky-ul > li {
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: inherit;
}

.simsim-box {
    width: 350px;
    height: auto;
    background-color: ivory;
    padding: 25px;
    border-radius: 5px;
    
}

.glo-box {
    width: 70px;
    height: 30px;
    background-color: rgba(240,230,140,0.5);
    border-radius: 20px;
    padding: 2px;
    position: relative;
}

.glo-circle{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 28px;
    position: absolute;
    cursor: pointer;
    transition-property: right;
    transition-duration: 2s;
}


.go-right{
    right:1px;  
}

.myh2{
    font-weight:bold;
}
.myh5{
    font-size:14px;
    color:darkkhaki;
}
.myul{
    width:300px;
    height:inherit;
}

.myul{
    list-style:none;
    margin:0;
    padding:0;
}
.myul>li{
    width:inherit;
    height:30px;
}
.myul>li:nth-child(even){
    background-color:#f8f3b6;
}

.mybtn{
    width:220px;
    height:30px;
    background-color:khaki;
    border:0;
    border-radius:5px;
}

.mybtn:hover{
    box-shadow:2px 2px 4px 2px darkkhaki;
}

.myinput{
    width:300px;
    height:30px;
    border:2px dotted khaki;
    border-radius:5px;
    text-indent:5px;
}

.mysticky{
    height:30px;
    background-color:darkkhaki;
    color:white;
}


/*talking potato*/


.potato-img{
    width:456px;
    height:281px;
}

.msgbox{
    width:300px;
    height:40px;
    background-color:ivory;
    border:2px dotted darkkhaki;
}

.mybtn2 {
    width: 200px;
    height: 30px;
    background-color: ivory;
    border: 0;
    border-radius: 5px;
}

    .mybtn2:hover {
        box-shadow: 2px 2px 4px 2px darkkhaki;
    }

    /*everychat*/

.every-chat-box{
    width:400px;
    height:800px;
    background-color:white;
    overflow:hidden;
    border-radius:5px;
}

.every-ul{
    width:inherit;
    height:700px;
    box-sizing:border-box;
    padding:15px;
    list-style:none;
    overflow:auto;
}

.every-li {
    box-sizing: border-box;
    height: 40px;
    font-size: 13px;
    line-height:32px;
}

.mention1 {
    line-height: 32px;
    background-color: aquamarine;
    border-radius:10px;
    font-size:13px;
    padding-left:5px;
    padding-right:5px;
}

.mention2 {
    line-height: 32px;
    background-color: plum;
    border-radius: 10px;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}
  


.mention3 {
    line-height: 32px;
    background-color: skyblue;
    border-radius: 10px;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.everychat-inputs {
    width: inherit;
    height: 100px;
    background-color: darkkhaki;
}

.s-inputs{
    width:320px;
    height:60px;
    box-sizing:border-box;
    padding:10px;
}

.design-input{
    border:1px dotted darkolivegreen;
    border-radius:6px;
}

.design-input1 {
    border: 1px dotted darkolivegreen;
    border-radius: 6px;
    background-color:khaki;
}

.every-btn {
    width: 80px;
    height: inherit;
    background-color: darkolivegreen;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.every-btn:hover{
    background-color:olivedrab;

}