@page "/"

<div class="home_container">
    <div class="inner_container d-flex justify-content-center align-items-center flex-column">
        <h1>Welcome!</h1>
        <NavLink href="/login">LOGIN</NavLink>
    </div>
</div>



