<div class="mysticky sticky-top w-100">
    <ul class="sticky-ul d-flex flex-row-reverse">
        <li><NavLink href="">심심이</NavLink></li>
        <li><NavLink href="potato">말하는 감자</NavLink></li>
        <li><NavLink href="everychat">홀로채팅</NavLink></li>
    </ul>
</div>

@code {

}
